/*
  Shoutout to Josh Comeau for the CSS reset and everything he puts out there.
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}

/* Global selection styling */
::selection {
  background-color: orangered  ;
  color: white;
}
/* Firefox needs the -moz- prefix */
::-moz-selection {
  background-color: orangered;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.1),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.1),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.1),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.1),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.1),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.1),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.1),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.1);
}

:root {
    --gap: 20px;
    --padding: 20px;
    --padding-sm: 10px;
    --margin: 20px;
    --margin-sm: 10px;
    --border-radius: 10px;
    --font-family: "Roboto", sans-serif;
    --font-family-heading: "Nunito", sans-serif;
}

/* Base styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1536px;
  margin: 0 auto;
  padding: var(--padding);
  color: #333;
  background-color: #fff;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding);
  margin-bottom: var(--margin);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.nav-links a,
.social-links a {
  text-decoration: none;
  color: #999;
  border-radius: var(--border-radius);
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover,
.social-links a:hover {
  color: orangered;
  transition: color 0.3s ease-in-out;
}

.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.intro {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  font-size: 1.75rem;
  color: #999;
  font-family: var(--font-family-heading);
}

.intro h1 {
  margin-bottom: 20px;
}

.projects {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding);
}

.project-item {
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: alias
}

.project-item:hover {
  transform: translateY(-5px) scale(1.05) rotate(1deg);
  box-shadow: var(--shadow-elevation-medium);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover .star {
  color: orangered;
  transition: color 0.3s ease-in-out;
}

.bottom-projects#contact .project-item:hover .project-header h3 {
  color: orangered;
  transition: color 0.3s ease-in-out;
}


.project-header {
  font-family: var(--font-family);
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-sm);
  background-color: #f9f9f9;
  text-decoration: none;
}

.bottom-projects#contact .project-header {
  font-size: 1.5rem;
}

.project-header h3 {
  color: #999;
}

.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.bottom-projects {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
}

.highlight {
  font-weight: 700;
  color: #333;
}

.star {
  font-size: 1.2rem;
  color: #666;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  margin-top: var(--margin);
  font-family: var(--font-family);
  justify-self: center;
  align-self: center;
}

footer p {
  text-decoration: none;
  color: #999;
  padding: var(--padding);
}

.burger-menu {
  display: none;
  position: absolute;
  padding: var(--padding);
  top: 5px;
  transition: transform 0.3s;
}

@media screen and (max-width: 768px) {
  /* Navbar wird vertikal und versteckt standardmäßig */
  .navbar {
    flex-direction: column;
    gap: var(--gap);
    position: relative;
  }

  .burger-menu {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  

  .burger-menu .star {
    font-size: 4;
    color: #666;
    transform: rotate(0deg);
    transition: transform 0.3s ease-out, color 0.3s ease-in-out;
    cursor: pointer;
  }
  .burger-menu .star:hover {
    color: orangered;
  }

  .burger-menu.active .star {
    
    transform: rotate(180deg);
    transition: transform 0.3s ease-in;
  }

  .nav-links,
  .social-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--gap);
    padding-top: var(--padding-sm);
  }

  .nav-links.active,
  .social-links.active {
    display: flex;
    animation: fadeIn 0.5s ease;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .intro,
  .projects {
    grid-column: 1 / -1;
  }

  .bottom-projects {
    grid-template-columns: 1fr; 
  }

  .intro h1 {
    font-size: 1.8rem;
  }

  .intro {
    font-size: 1rem;
  }

  .project-image {
    height: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }

  .intro,
  .projects {
    grid-column: 1 / -1;
  }

  .bottom-projects {
    grid-template-columns: 1fr 1fr;
  }

  .bottom-projects .project-item:last-child {
    grid-column: 1 / -1;
  }
}
